/* Taskbar.css */
body {
  padding-top: 56px; /* Adjust based on your navbar height */
}

.navbar {
  width: 100%;
}

.navbar-brand {
  font-size: 1.75rem;
  font-weight: bold;
}

.nav-link {
  display: flex;
  align-items: center;
}

.nav-link .fa {
  margin-right: 8px;
}

.navbar-collapse {
  justify-content: space-between;
}

.rounded-circle {
  margin-right: 8px;
}

.btn-outline-danger {
  display: flex;
  align-items: center;
}

.btn-outline-danger .fa {
  margin-right: 5px;
}

.nav-link {
  color: #0c2c4d; /* Default text color */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
  padding: 10px 10px; /* Increase padding */
  border-radius: 8px; /* Rounded corners */
  margin: 0 10px; /* Increase margin between tabs */
}

.nav-link:hover {
  background-color: #e0e0e0; /* Light background on hover */
  color: #0c2c4d; /* Text color on hover */
}

.nav-link.active {
  color: #fff; /* Text color for active link */
  background-color: #19c9ac; /* Background color for active link */
  font-weight: bold;
}


