/* Taskbar.css */
body {
  padding-top: 56px; /* Adjust based on your navbar height */
}

.navbar {
  width: 100%;
}

.navbar-brand {
  font-size: 1.75rem;
  font-weight: bold;
}

.nav-link {
  display: flex;
  align-items: center;
}

.nav-link .fa {
  margin-right: 8px;
}

.navbar-collapse {
  justify-content: space-between;
}

.rounded-circle {
  margin-right: 8px;
}

.btn-outline-danger {
  display: flex;
  align-items: center;
}

.btn-outline-danger .fa {
  margin-right: 5px;
}

.nav-link {
  color: #0c2c4d; /* Default text color */
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
  padding: 10px 10px; /* Increase padding */
  border-radius: 8px; /* Rounded corners */
  margin: 0 10px; /* Increase margin between tabs */
}

.nav-link:hover {
  background-color: #e0e0e0; /* Light background on hover */
  color: #0c2c4d; /* Text color on hover */
}

.nav-link.active {
  color: #fff; /* Text color for active link */
  background-color: #19c9ac; /* Background color for active link */
  font-weight: bold;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  padding: 20px;
  z-index: 1000;
  transition: left 0.3s ease-in-out;
}

.sidebar.open {
  left: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin-top: 60px;
}

.sidebar ul li {
  margin: 20px 0;
}

.sidebar ul li a,
.sidebar ul li button {
  color: white;
  text-decoration: none;
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  text-align: left;
  width: 100%;
}

.sidebar ul li a:hover,
.sidebar ul li button:hover {
  text-decoration: underline;
}


